<div class="admin-logs-entry {% if admin_log.entries %}admin-logs-collapsed{% endif %}">
    <div class="admin-logs-header">
        {{ admin_log.formatted_start_date }}
        <strong>{{ admin_log.url }}</strong>
        {{ admin_log.status_code }}
        {{ admin_log.milliseconds|floatformat }}ms
        {{ admin_log.content_length|filesizeformat }}
        {{ admin_log.user_agent }}
    </div>
    {% for entry in admin_log.entries %}
        <p class="admin-logs-short">
            <span class="admin-logs-level admin-logs-level-{{ entry.formatted_level }}">{{ entry.formatted_level }}</span>
            <span class="admin-logs-date">{{ entry.formatted_date }}:</span> {{ entry.message }}
        </p>
        {% if entry.stack_trace %}
            <p class="admin-logs-full">
                {{ entry.stack_trace }}
            </p>
        {% endif %}
    {% endfor %}
</div>